@use '../../styles/var' as *;

body {
    background-color: $primaryBackgroundColor !important;
}

.container {
    margin: 0; // Resetando margens
    padding: 0; // Resetando paddings
    padding-top: 70px; // Ajuste esse valor de acordo com a altura da navbar
}

.text-JoinOurTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2.375rem 2rem;
    text-align: center;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 1700px) {
    .container {        
        h1{
            font-size: 48px;
        }
        p{
            font-size: 40px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        padding-top: 15vw !important;
        
        h1{
            font-size: 18px;
        }
        p{
            font-size: 13px;
        }
    }
}
