@use '../../styles/var' as *;

.image-ReturnTeam {
    background-image: url('../../../public/imageReturnTeam.webp');
    background-position: center;
    background-size: cover;
    height: 600px;

}

.text-ReturnTeam {
    padding-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $primaryFontColor;

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }
}
@media (min-width: 1700px) {
    .image-ReturnTeam {
        height: 1000px;
    }
    
    .text-ReturnTeam {
        padding-top: 15vw;
    
        h1 {
            font-size: 48px;
        }
    
        p {
            font-size: 38px;
        }
    }
}
@media (max-width: 767px) {
    .image-ReturnTeam {
        background-image: url('../../../public/imageReturnTeam.webp');
        background-position: center;
        background-size: cover;
        height: 600px;

    }

    .text-ReturnTeam {
        padding-top: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $primaryFontColor;

        h1 {
            font-size: 28px;
        }

        p {
            font-size: 17px;
        }
    }
}