@use '../../styles/var' as *;

.container{
    display: flex;
    justify-content: center;
    background-color: $primaryBackgroundColor;
    padding-top: 7vw;
    align-items: center;
    .policy{
        height: 100%;
        width: 70vw;
        display: flex;
        flex-direction: column;
       gap: 1.5vw;

        .priv {
            margin-top: 5vw;
            font-size: 3.2vw;
            font-weight: $font-bold;
            text-align: center;
            color: $primaryBlue;
            margin-bottom: 100px;
        }

        .poli {
            font-size: 2vw;
            font-weight: $font-semibold;
            color: $tertiaryFontColor;
        }

        .spriv{
            margin: 20px;
            font-size: 1.5vw;
            font-weight: $font-regular;
        }
        .policy{
            height: 100%;
            width: 70vw;
        }
    }
}
@media (max-width: 800px) {
    .Header .nav {
        height: 15vw;
    }

    .container{
        padding-top: 10vw;
    
        .policy{
            
            
            .priv {
                font-size: 4vw;
                margin-bottom: 50px;   
            }
            
            .poli {
                font-size: 3vw;
            }

            .spriv{
                margin: 10px 0 40px 0;
                font-size: 2vw;
            }
        }
    }
}

@media (max-width: 412px) {
    .Header .nav {
        height: 12vw;
    }

    .container{
        padding-top: 15vw;
    
        .policy{
            
            
            .priv {
                margin-bottom: 40px;  
            }
            
            .poli {
                font-size: 5vw;
            }

            .spriv{
                margin: 10px 0 40px 0;
                font-size: 3vw;
            }
        }
    }
}


@media (max-width: 360px) {
    .container{
        
    
    .policy{
        
    
    .priv {
        font-size: 9vw;
        margin-bottom: 40px;   
        }

        .poli {
           font-size: 5vw;
        }

        .spriv{
            margin: 10px 0 40px 0;
            font-size: 3.5vw;
        }
       
    }
}
}
    